<!DOCTYPE hmtl>
<html>
    <head>
    </head>
    <body >   
        <div class="px-20 p-4 text-center ">
            <div class="w-full pb-8 pt-6">
                <%= link_to t('IMPRIMIR PDF'), "/uploadPdf", class: "font-serif py-3 rounded-lg text-center hover:bg-red-900 bg-red-600 text-red-50 drop-shadow-sm block w-full text-3xl shadow-md shadow-gray-500" %>
            </div>
            <h1 class="text-2xl font-serif font-bold pb-4">Histórico</h1>
           <div class="pb-4 text-center">
                <%= form_tag("/fill", method: "post", class: "text-center") do %>
                    <div class="p-10 bg-gray-200 rounded-2xl shadow-md shadow-gray-500">
                        <div class="grid grid-cols-1 md:grid-cols-2 lg:grid-cols-4 gap-6">
                            <!-- Selector de impresora -->
                           <div class="mb-4">
                                <%= label_tag(:selected_option, "Impresora: ", class: "text-xl font-bold font-serif text-gray-900 pr-4") %>
                                <select name="selected_option" class="rounded-lg border-2 border-gray-900 hover:border-red-900 w-full text-center font-serif font-bold">
                                    <option value="">Todos</option>
                                    <% @result.each do |option| %>
                                        <% if option['name'] == @fill.printer_name %> <!-- Verifica si es la opción por defecto -->
                                            <option value="<%= option['name'] %>" selected><%= option['name'] %></option> <!-- Selecciona esta opción -->
                                        <% else %>
                                            <option value="<%= option['name'] %>"><%= option['name'] %></option>
                                        <% end %>
                                    <% end %>
                                </select>
                            </div>


                            <!-- Selector de número de copias -->
                            <div class="mb-4">
                                <label for="integer_selector" class="text-xl font-bold font-serif text-gray-900 pr-4">Número de Copias:</label>
                                <%= number_field_tag 'integer_selector', @fill.num_copies, in: 1..100, step: 1, class:"rounded-lg border-2 border-gray-900 hover:border-red-900 text-center font-serif font-bold"%>
                            </div>

                            <!-- Selector de color -->
                            <div class="mb-4">
                                <%= label_tag(:selected_color, "Color: ", class: "text-xl font-bold font-serif text-gray-900 pr-4") %>
                                <select name="selected_color" class="rounded-lg border-2 border-gray-900 hover:border-red-900 w-full text-center font-serif font-bold">
                                    <option value="">Todos</option>
                                    <% if @fill.color == "Color" %> 
                                        <option value="Color" selected>Color</option>
                                    <% else %> 
                                        <option value="Color">Color</option>
                                    <% end %>
                                    <% if @fill.color == "Negro y blanco" %> 
                                        <option value="Negro y blanco" selected>Blanco y negro</option> 
                                    <% else %>
                                        <option value="Negro y blanco">Blanco y negro</option>
                                    <% end %>
                                </select>
                            </div>

                            <!-- Selector de orientacion -->
                            <div class="mb-4">
                                <%= label_tag(:selected_orientation, "Orientación: ", class: "text-xl font-bold font-serif text-gray-900 pr-4") %>
                                <select name="selected_orientation" class="rounded-lg border-2 border-gray-900 hover:border-red-900 w-full text-center font-serif font-bold">
                                    <option value="">Todos</option>
                                    <% if @fill.orientation == "Vertical" %>
                                        <option value="Vertical" selected>Vertical</option> 
                                    <% else %>
                                        <option value="Vertical">Vertical</option>
                                    <% end %>
                                    <% if @fill.orientation == "Horizontal" %> 
                                        <option value="Horizontal" selected>Horizontal</option> 
                                    <% else %>
                                        <option value="Horizontal">Horizontal</option>
                                    <% end %>
                                </select>
                            </div>


                            <!-- Selector de caras -->
                            <div class="mb-4">
                                <%= label_tag(:selected_both, "Caras: ", class: "text-xl font-bold font-serif text-gray-900 pr-4") %>
                                <select name="selected_both" class="rounded-lg border-2 border-gray-900 hover:border-red-900 w-full text-center font-serif font-bold">
                                    <option value="">Todos</option>
                                    <% if @fill.faces == "1 cara" %>
                                        <option value="1 cara" selected>1 cara</option>
                                    <% else %>
                                        <option value="1 cara">1 cara</option>
                                    <% end %>
                                    <% if @fill.faces == "2 caras" %>
                                        <option value="2 caras" selected>2 caras</option>
                                    <% else %>
                                        <option value="2 caras">2 caras</option>
                                    <% end %>
                                </select>
                            </div>


                            <!-- Selector de estado -->
                            <div class="mb-4">
                                <%= label_tag(:selected_status, "Estado: ", class: "text-xl font-bold font-serif text-gray-900 pr-4") %>
                                <select name="selected_status" class="rounded-lg border-2 border-gray-900 hover:border-red-900 w-full text-center font-serif font-bold">
                                    <option value="">Todos</option>
                                    <% if @fill.status == "to_do" %>
                                        <option value="to_do" selected>En progreso</option>
                                    <% else %>
                                        <option value="to_do">En progreso</option>
                                    <% end %>
                                    <% if @fill.status == "done" %>
                                        <option value="done" selected>Finalizado</option>
                                    <% else %>
                                        <option value="done">Finalizado</option>
                                    <% end %>
                                    <% if @fill.status == "error" %>
                                        <option value="error" selected>Error</option>
                                    <% else %>
                                        <option value="error">Error</option>
                                    <% end %>
                                </select>
                            </div>

                            <div>
                            </div>
                            <!-- Botones -->
                            <div class="flex justify-center pt-4">
                                <%= submit_tag("Filtrar", class: "btn-send bg-red-600 text-red-50 rounded-xl hover:bg-red-900 py-4 px-8 drop-shadow-sm shadow-md shadow-gray-500 font-bold font-serif")  %>
                                <%= link_to "reset", "reset", method: :post, class: "btn-send bg-red-600 text-red-50 ml-3 rounded-xl hover:bg-red-900 py-4 px-8 drop-shadow-sm shadow-md shadow-gray-500 font-bold font-serif" %>
                            </div>
                        </div>
                    </div>
                <% end %>
            </div>

            <%= render partial: 'main/print_info_table', locals: {info: @info}%>
            <div class="w-full pb-8 pt-4">
                <%= link_to t('Recargar'), "/home", class: "font-serif py-3 rounded-lg text-center hover:bg-red-900 bg-red-600 text-red-50 drop-shadow-sm block w-full text-2xl shadow-md shadow-gray-500" %>
            </div>
        </div>
    </body>
</html>
